doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='../css/sugang.css')
  body
    header
      .logoInfo
        img(src='../img/sch_logo.png' alt='')
        p.page_info 순천향대학교
        p.page_info 수강신청시스템
      p#user_info 
        span#userInfo=userInfo
        | 님 환영합니다.
      a(href='/logout') 로그아웃
    aside
      p Menu
      div
        ul
          li 학부학사행정
          li 부속행정
          li 연구행정
    .contents
      .sugangList
        p 수강신청목록
        table.userList
          tbody.tbody
            tr
              td 개설학년(반)
              td 교과구분
              td 교과목명
              td 수강번호
              td 시간
              td 학점
              td 교수명
              td 시간 및 요일
              td 강의실
            
      .listSearch
        .Searchhead
          p 수업시간표 조회
          input(type='button' id="searchData" value='조회')
        .selectIf
          fieldset
            label(for='')
              input(type='radio' name='radioSelect' value='allList')
              | 대학전체
            label(for='')
              input(type='radio' name='radioSelect' value='Department')
              | 학과(부)
            label(for='')
              input(type='radio' name='radioSelect' value='Common_culture')
              | 공통교양
          .detailSelect
            b >년도
            input(type='number' min='2000' max='2021' value='2021')
            b >학기
            select#semester
              option(value='1학기' label='1학기') 1학기
              option(value='2학기' label='2학기') 2학기
              option(value='하계계절학기' label='하계계절학기') 하계계절학기
              option(value='동계계절학기' label='동계계절학기') 동계계절학기
            b >대학
            select#univInput
              option(value='') -전체-
              option(value='인문과학대학') 인문과학대학
              option(value='사회과학대학') 사회과학대학
              option(value='글로벌경영대학') 글로벌경영대학
              option(value='1') 자연과학대학
              option(value='0') 공과대학
              option(value='의료과학대학') 의료과학대학
              option(value='의과대학') 의과대학
              option(value='산학평생대학') 산학평생대학
              option(value='SCH미디어랩스') SCH미디어랩스
              option(value='엔터프라이즈스쿨') 엔터프라이즈스쿨
              option(value='향설나눔대학') 향설나눔대학
              option(value='인문사회과학대학') 인문사회과학대학
            b >학부(과)
            select#departmentInput
              option(value='') 학과전체
              
        .resultList
          table
            tbody#calendarResult
              tr
                td 개설학년(반)
                td 교과구분
                td 교과목명
                td 수강번호
                td 시간
                td 학점
                td 교수명
                td 시간 및 요일
                td 강의실
              tr.subjectList
                td 2학년
                td 전공
                td C++프로그래밍
                td.class_id 10746
                td 3
                td 3
                td 김명숙
                td 목1,2,3
                td M503
                td.addsubjectBtn 
                  a(href=url) 신청
      script(src='/javascript/sugang.js')
